@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rubik+Glitch&display=swap");

.page-wrapper {
  display: grid;
  grid-template-areas:
    "box1     box1"
    "box2     menu"
    "box3     menu"
    "box4     menu"
    "box5     menu"
    "box6     menu";
  row-gap: 15px;
  column-gap:10px;
}

body {
  background-color: black;
}

main {
  background-color: #d3cac1;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: x-large;
}

.info {
  grid-area: box1;
  padding: 10px;
  background-color: #d3cac1;
  font-size: medium;
}

.about {
  
 }